<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
        <a class="navbar-brand" href="index.html">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#top-content">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-1">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#signup">SIGNUP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-2">INFO</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-3">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-4">FEEDBACK</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2 text">
                    <h1 class="wow fadeInLeftBig">Navbar Template with Bootstrap 4</h1>
                    <div class="description wow fadeInUp">
                        <p>
                            This is a free Navbar template made with the Bootstrap 4 framework.
                            Check it out now. Download it, customize and use it as you like!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div *ngIf="!showLoginUI" class="signup-container">
    <app-auth></app-auth>
</div>
<div *ngIf="showLoginUI" class="signup-container">
    <h5>Successful Signup. You can </h5>
    <app-login></app-login>
</div>


<!-- Section 1 -->

<div class="section-1-container section-container">

    <div class="container">
        <div class="row">
            <div class="col section-1 section-description wow fadeIn">
                <h2>Section 1</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 section-1-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-1-box-icon">
                            <i class="fas fa-magic"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Branding</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 section-1-box wow fadeInDown">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-1-box-icon">
                            <i class="fas fa-cog"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Web design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 section-1-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-1-box-icon">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Social media</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div class="login-container" id="div1">
    <app-login>

    </app-login>
</div>
<!-- Section 2 -->
<div class="section-2-container section-container section-container-gray-bg">
    
    <div class="container">
        <div class="row">
            <div class="col section-2 section-description wow fadeIn">
            </div>
        </div>
        <div class="row">
            <div class="col section-2-box wow fadeInLeft">
                <h3>Section 2</h3>
                <p class="medium-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et.
                    Ut wisi enim ad minim veniam, quis nostrud.
                    Exerci tation ullamcorper suscipit <a href="#">lobortis nisl</a> ut aliquip ex ea commodo consequat.
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et.
                    Ut wisi enim ad minim veniam, quis nostrud.
                    Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Section 3 -->
<div class="section-3-container section-container">
    <div class="container">

        <div class="row">
            <div class="col section-3 section-description wow fadeIn">
                <h2>Section 3</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-paperclip"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Ut wisi enim ad minim</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Sed do eiusmod tempor</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-cloud"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Quis nostrud exerci tat</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fab fa-google"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Minim veniam quis nostrud</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Section 4 -->
<div class="section-4-container section-container section-container-image-bg">
    <div class="container">
        <div class="row">
            <div class="col section-4 section-description wow fadeInLeftBig">
                <h2>Section 4</h2>
                <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer-container">
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">FEED BACK</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>We welcome all kindof suggestions and complaints ..</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Hyderabad ,Telangana </p>
                <p><span class="glyphicon glyphicon-phone"></span> 7013913154</p>
                <p><span class="glyphicon glyphicon-envelope"></span>nssvnrvjiet@gmail.com</p>
            </div>
            <div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                    rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>