<div class="fluid-container">

    <div *ngIf="image" class="card">
        <div class="card-body">
            <img src={{imageUrl}} alt="profilepic">
        </div>
    </div>
    <div class="card">
    <form (ngSubmit)="submit()">
    <label>
        Title:
        <input type="text"  (change)="onTitleChanged($event)" />
    </label>
    <br />
    <label>
        Cover:
        <input type="file" accept="image/*"  (change)="onImageChanged($event)" />
    </label>
    <br />
    <button>UPLOAD</button>
    </form>
    </div>
    <button (click)='getFiles()'>GET files </button>
</div>
