h3,h2{
    font-weight: bold;
    color:rgb(15, 15, 99);
}

.card{
    width:auto;
    height: auto;
    color: black;
    border: #1890ff;
}

.card-head{
    background-color: #1890ff;
    color: white;
    text-align: center;
    border-left: white solid 10px;

}
.crtans{
    background-color: green;
}
.wrgans{
background-color: red;
}
.finish{
    background-color: #1890ff;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}