<div>
<pre>

</pre>
<div class="card-head" >
    <p>SIGNUP <span>here..</span> </p>
</div>
<div class="signup-form card">
   
    <div class="card-body">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Name">
                Username
            </label>
            <input class="form-control " type="text" formControlName="userName" id="userName" placeholder="Username" />
        </div>
        <div *ngIf="f.userName.touched && f.userName.invalid" class="alert alert-danger">
            <div *ngIf="f.userName.errors!.required">password is required.</div>
            <div *ngIf="f.userName.errors!.minlength">Password should be 8 character.</div>
        
        </div>
        <div class="form-group">
            <label for="Email">
                Email
            </label>
            <input class="form-control " type="text" formControlName="email" id="email" placeholder="Email" />
        </div>
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
            <div *ngIf="f.email.errors!.required">Email is required.</div>
            <div *ngIf="f.email.errors!.email">Please, enter valid email address.</div>
        </div>
        <div class="form-group ">
            <label for="Password">
                Password
            </label>
            <input class="form-control " type="password" formControlName="password" id="password"
                placeholder="Password" />
        </div>
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
            <div *ngIf="f.password.errors!.required">password is required.</div>
            <div *ngIf="f.password.errors!.minlength">Password should be 8 character.</div>
        
        </div>
        <div class="form-group ">
            <label for="Phone">
                PhoneNumber
            </label>
            <input class="form-control " type="number" formControlName="phoneNumber" id="phoneNumber"
                placeholder="PhoneNumber" />
        </div>
        <!-- <div class="form-group ">
            <label for="photoURL">
                UPLOAD PHOTO
            </label>
            <input class="form-control " type="file" formControlName="photoURL" id="file"
                placeholder="UPLOAD PHOTO" />
        </div> -->
        {{signupResp}}
        <div>
            
            <button id="submitButton" class="btn btn-primary" type="submit">Submit</button>

        </div>
    </form>
</div>
</div>
<pre>
    
</pre>
</div>