<div class="card">

    <div class="card-head">
        <h4>PROFILE</h4>
    </div>
    <div>
        <div class="card">
            <img id="dp" alt="display image">
        </div>
        <label>
            <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
        </label>
        
        <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
            Upload
        </button>
        
        <div *ngIf="currentFileUpload" class="progress mt-2">
            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                {{ percentage }}%
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <!-- {{userData|json}} -->
        <form action=""  [formGroup]="profileEditForm" (ngSubmit)="editProfile()">
           <div class="form-group" >
            <label for="displayName">USER NAME</label>
            <input type="text" name="displayName" id="displayName" [(ngModel)]="userData.displayName" formControlName="displayName"  class="form-control">
           </div>
           <br>
           <div class="form-group">
               <label for="email">
                   EMAIL
               </label>
            <input type="email" name="email" id="email" [(ngModel)]="userData.email" formControlName="email"  class="form-control" [disabled]='disableEmailbox'>

           </div>
           <br>
           <div class="form-group">
               <label for="phoneNumber">
                   PHONE NUMBER
               </label>             
                <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="userData.phoneNumber" formControlName="phoneNumber"  class="form-control">

           </div>
           <br>
           <button type="submit" class="btn btn-primary">EDIT PROFILE</button>
            <br>
            <hr> 
        </form>
        </div>
    </div> 
   
</div>