<div class="card">
    <div class="card-head">
        <h4>PROFILE</h4>
    </div>
   
    <div class="card-body">
        <div>
            {{userData|json}}
        <form action=""  [formGroup]="profileEditForm" (ngSubmit)="editProfile()">
           <div class="form-group" >
            <label for="displayName">USER NAME</label>
            <input type="text" name="displayName" id="displayName" [(ngModel)]="userData.displayName" formControlName="displayName"  class="form-control">
           </div>
           <br>
           <div class="form-group">
               <label for="email">
                   EMAIL
               </label>
            <input type="email" name="email" id="email" [(ngModel)]="userData.email" formControlName="email"  class="form-control" [disabled]='disableEmailbox'>

           </div>
           <br>
           <div class="form-group">
               <label for="phoneNumber">
                   PHONE NUMBER
               </label>             
                <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="userData.phoneNumber" formControlName="phoneNumber"  class="form-control">

           </div>
           <br>
           <button type="submit" class="btn btn-primary">EDIT PROFILE</button>
            

        </form>
        </div>
    </div>
</div>